h1 {
  color: blue;
  text-align: centre;
}
h2 {
  color: green;
  font-style: italic;
  text-align: left;
}
p {
  font-family: sans-serif;
}
ul li {
  line-height: 20px;
  list-style-type: "→";
}
ol {
  line-height: 20px;
  text-align: left;
}